.block-search input {
    height: 45px;
    border-radius: 34px;
    width: 142%;
    // margin-left: -523px;
}
.block-search .action.search {
    right: -81px;
}
.block-search {
    float: none;
}
.copyright {
    float: left;
    background-color: #191919;
    color: #575757;
}
.page-footer {
    background-color: #191919;
    color: #575757;
}
.showcart {
    display: right;
}
.custom-account-link {
    font-size: 11px;
    color: black;
}
.myaccount {
    width: 45px;
    height: 33px;

    float: right;
    margin-top: 25px;
    margin-left: -23px;
    margin-right: 34px;
}
.account_icon {
    width: 23px;
    position: absolute;
    margin-top: -42px;
    margin-left: 15px;
    margin-left: 110px;
    margin-top: 4px;
}
.account_link {
    width: 63px;

    margin-left: 94px;
    position: absolute;
    margin-top: 30px;
}
.account_link .custom-account-link {
    color: black;
}
.account_link li {
    list-style-type: none;
}
.nav-sections {
    margin-bottom: 0px;
}
.redbanner .span1 {
    margin-right: 109px;
    margin-left: 315px;
    font-weight: bold;
    font-size: 13px;
    margin-top: -16px;
    padding-top: -1px;
    margin-bottom: 0px;
    line-height: 3rem;
}
.fa-regular,
.far {
    margin-right: 7px;
}
.fa-solid,
.fas {
    margin-right: 7px;
}
.fa-solid .fa-headphones {
    margin-right: 7px;
}
.redbanner .span2 {
    margin-right: 109px;

    font-weight: bold;
    font-size: 13px;
    margin-top: -16px;
    padding-top: -1px;
    margin-bottom: 0px;
    line-height: 3rem;
}
.redbanner .span3 {
    margin-right: 109px;

    font-weight: bold;
    font-size: 13px;
    margin-top: -16px;
    padding-top: -1px;
    margin-bottom: 0px;
    line-height: 3rem;
}
.redbanner {
    margin-bottom: 19px;
}
.location_icon {
    font-size: 41px;
    margin-top: 14px;
    color: white;
}
.mobile_icon {
    font-size: 36px;
    color: white;
    margin-top: 24px;
}
.info_css {
    margin-top: -19px;
}
.email_icon {
    color: white;
    font-size: 30px;
    margin-top: 17px;
}
.logo img {
    max-width: none;
}

.eye_logo {
    position: absolute;
    margin-top: -14px;
}
.fb_icon {
    font-size: 26px;

    margin-right: 9px;
}

.insta_icon {
    font-size: 26px;

    margin-right: 9px;
}

.youtube_icon {
    font-size: 26px;

    margin-right: 9px;
}

.linkedIn_icon {
    font-size: 26px;

    margin-right: 9px;
}

.copywrites {
    background-color: #191919;
    color: #505050;
    font-size: 12px;
    margin-top: -13px;
}
.support {
    padding-left: 106px;
}

.support_hours {
    color: white;
    font-weight: bold;
}
.approved_companies {
    margin-top: 19px;
}

.phone_section {
    margin-top: 19px;
}

.email_section {
    margin-top: 19px;
}
.contact_info {
    margin-top: 15px;
}

.newsletter {
    // float: right;
    // margin-right: 451px;
    margin-top: 51px;
}
.page-bottom {
    width: 100% !important;
    max-width: none !important;
    background-color: white;
    // height: 146px;
}
.actions {
    float: none !important;
}

.actions button {
    background-color: red;
}
.block.newsletter .action.subscribe {
    background-color: #e20514;
    border: none;
    height: 42px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.block.newsletter input {
    height: 42px;
    border-bottom-left-radius: 25px;

    border-top-left-radius: 25px;
}

.page-wrapper {
    background: #f8f8f8 !important;
}
.page-main {
    background-color: #f8f8f8;
}
.page-header {
    background-color: white;
}
.block.newsletter {
    max-width: none !important;
    margin-left: 81px;
}
.discountt1 {
    margin-top: 41px;
    margin-left: 112px;
}

.new_subscriber {
    font-size: 16px;
}
.new_discout {
    font-size: 26px;
    font-weight: bold;
}
.sub_discountCode {
    margin-top: 51px;
}
.sub_discount1 {
    font-size: 15px;
}
.sub_disocount2 {
    color: red;
    font-size: 20px;
    text-decoration: underline;
}
.vl {
    border-left: 1px solid #9e9ea0;

    margin-top: 39px !important;
}
.red_icon_org {
    margin-top: -98px;
    margin-left: 315px;
}
.discount {
    background-color: white;
    margin-right: 30px;
    padding-top: 35px;
    padding-bottom: 47px;
    padding-left: 58px;
}
.newsletter1 {
    background-color: white;
    margin-right: 27px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 78px;
}
.newsletter1 h5 {
    font-size: 2.25rem;
}
.discount h5 {
    font-size: 2.25rem;
}
.discount span {
    font-size: 11px;
}
.newsletter1 span {
    font-size: 11px;
}
.excellent {
    background-color: white;
    padding-bottom: 22px;
}
.excellent img {
    margin-left: 39px;
}
.product-item-actions .actions-secondary > .action {
    display: none;
}
.product-item-info {
    background-color: white;
}
.product-item-name {
    margin-left: 22px;
    margin-bottom: 20px;
}
.price-box .price-final_price {
    margin-left: 23px;
    color: red;
}
.action .tocart .primary {
    background-color: white !important;
    color: black !important;
    height: 32px;
}
.product-item {
    background-color: white;
}
.actions-primary {
    margin-left: 113px;

    margin-top: -37px;
}
.product-item .tocart {
    background-color: white !important;
    color: #5a5a5c !important;
    border: 1px solid #e4e4e4;
}
.paypal_image {
    width: 155px;
    position: absolute;
    margin-top: 207px;
    margin-left: 981px;
}
.label .switcher-label span {
    display: none;
}
#switcher-currency-trigger {
    font-size: 14px !important;
}
.iconss {
    font-size: 29px;
    color: white;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 35px;
    margin-right: 5px;
}

.block-title {
    color: white;
}
.contact-img {
    font-size: 33px;
    color: white;
}

.first {
    width: 25%;
    display: inline-block;
    // background-color: green;
}

.second {
    width: 25%;
    display: inline-block;
    //background-color: blue;
}
.third {
    width: 11%;
    display: inline-block;
    //background-color: blue;
}

.lastDiv {
    background-color: #191919;
    font-size: 10px;
    padding-left: 209px;
}
/* On screens that are 480px or less, set the background color to olive */
@media screen and (max-width: 480px) {
    .sub_disocount2 {
        margin-left: 75.1px;
        font-size: 16px;
    }
    .weekly_newsletter {
        margin-left: 70px;
    }

    .newSubscriberDiv {
        margin-left: 146px;
    }
    .red_iconDive {
        margin-left: 179px;
    }

    .paypal_image {
        margin-left: 0px;
        display: none; // This is temporary for aligning footer content
    }
    .account_icon {
        margin-left: 0px;
    }
    .account_link {
        margin-left: 0px;
    }
    .newsLeter {
        width: unset !important;
    }
    .discount {
        margin-right: unset;
    }
    .newsletter1 {
        margin-top: 18px;
        margin-right: unset;
    }
    .excellent {
        margin-top: 19px;
    }
    #content {
        display: none;
    }

    #content1 {
        display: none;
    }

    #content2 {
        display: none;
    }

    #content3 {
        display: none;
    }

    #content4 {
        display: none;
    }
    .block-title::after {
        content: "+";
        float: right;
        margin-top: -21px;
    }
    .container {
        padding-left: var(--bs-gutter-x, 2.75rem);
        padding-right: var(--bs-gutter-x, 2.75rem);
    }

    .first,
    .second,
    .third {
        width: 100px;
    }

    .support {
        padding-left: unset;
        margin-bottom: 12px;
    }
    .third img {
        width: 144px;
    }
    .lastDiv {
        font-size: 12px;
        margin-top: -8px;
        padding-left: unset;
    }
    .second {
        margin-bottom: 9px;
    }
    .eye_logo {
        display: none;
    }
    .trust_pilot {
        display: none;
    }
    .logo img {
        max-width: 213px;
    }
    .account_link {
        display: none;
    }
    .block-search .control {
        border-top: unset;
    }
    .block-search input
    {
        position:unset;
        border-radius: unset;
    }
    .block-search .label
    {
        display: none;
    }
}


