/* ================================
  # Footer styles
================================= */
#footer-start {
  margin-top: -80px;
}
.ct-footer-header {
  font-family: 'Open Sans Condensed', sans-serif;
  
}
#approve {
  font-size: 12px;
}
.address {
  font-size: 14px;
  font-size: 1.4rem;
}
.address strong {
  font-weight: 700;
  display: block;
}
.address span.footer-form {
  color: #0079c2;
}
.address a {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 600;
  display: block;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}
.address a:hover {
  text-decoration: none;
}
.address span {
  display: block;
  margin-top: 5px;
  margin-top: 0.5rem;
}
.address .address-disclaimer {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
}
.ct-select .selectize-input {
  line-height: .7;
}
.ct-footer {
background-color: #111;
color: #cbc9c9;
padding-top: 40px;
padding-top: 4rem;
}
.ct-footer p {
font-size: 14px;
font-size: 1.4rem;
color: grey;
}
.ct-footer-header {
color: white;
text-transform: uppercase;
font-size: 20px;
font-size: 2rem;
font-weight: 700;
padding: 30px 0 25px;
padding: 3rem 0 2.5rem;
}
.ct-footer-list li a {
font-size: 14px;
font-size: 1.4rem;
color: grey;
text-decoration: none;
}
.ct-footer-list li a:hover {
text-decoration: none;
}
.ct-footer-list li + li {
margin-top: 5px;
margin-top: 0.5rem;
}
.ct-footer .ct-post_footer {
background-color: #252525;
color: #fff;
padding: 20px 0;
padding: 2rem 0;
font-family: 'Arial';
font-size: 13px;
font-size: 1.3rem;

}
.ct-footer .ct-post_footer ul.list-inline {
  font-size: 1.2rem;
  
}
.ct-footer .ct-post_footer a:hover {
text-decoration: none;
}
.ct-footer .ct-post_footer p {
margin: 0;
margin: 0;
font-size: inherit;
}
.ct-footer .ct-post_footer ul li {
position: relative;
}
.ct-footer .ct-post_footer ul li + li {
padding-left: 17px;
padding-left: 1.7rem;
margin-left: 5px;
margin-left: 0.5rem;
}

.grey-cl {
  color:grey;
}

.fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
}
.iconss {
    font-size: 30px;
    color: white;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 35px;
    margin-right: 5px;
}
footer .ct-socials{
  display: flex;
  align-items: center;
}
.ct-footer{
  background: transparent;
}

.class8 {
  margin-top: -125px;
}
.class7 {
  margin-left: -74px;
}
.class6 {
  margin-left: -30px;
}
.class5 {
  margin-top: 13px;
}
.class3 {
  width: 358px;
}
.class2 {
  width: 160px;
  margin-top: -12px;
  margin-left: 48px;
}
.class1 {
  width: 373px;
}
a{ 
  text-decoration: none;
  color:black;
}
.My_Account {
  margin-top: -42px;
}
.account_link {
  margin-top:2px;
}
.account_links {
    width: 100px;
    margin-top: -69px;
    margin-left: 1096px;
}

.bg_red{ 
 background-color: red;
  
}

.txt_color {
  color: white;
  font-size: 14px;
}
.height {
  height: 31px;
}
.red_section_1 {
  margin-left: -58px;
}
/* .red_section_2 {

}
.red_section_3 {

} */
.top_links {
  background-color:#0079c2;
}
/* .header .panel 
    > .header.links 
      > li
        .welcome 
          > span {
            font-size: 1.2rem;
          } */
.page-header .panel.wrapper {
    border-bottom: 1px solid skyblue;
    background-color: green;
}
.lastDiv {
  display: none;
}
/* .header.content {
  padding: 30px 20px 55px;
} */

.footer.content{
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  background-color: #111;
}

ul li a { 
  font-family: Arial, Sans-Serif;
  font-weight: bold;
}
li.level0.nav-1.category-item.first.level-top.parent{
  width: 150px;
}

/* FOOTER TOP */
.page-bottom .content{
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 27px;
  margin-top: -40px;
  padding-bottom: 40px;
}
.page-bottom .content .col-lg-6.col-md-12.sub-test-content{
  display: flex !important;
  align-items: center;
}
.page-bottom .content .red_iconDive{
  padding-right: 20px;
}
.page-bottom .newSubscriberDiv{
  margin-right: 45px;
}
.block.newsletter .field .control:before{
  display: none;
}

/* .nav-sections-item-content > .navigation ul > li:nth-child(-n + 7) a::after{
  content: "";
  display: block;
  width: 10px;
  height: 10px;  
  border-left: 1px solid ;
  border-top: 1px solid;
  transform:rotate(-135deg);
  margin-left: 18px;
  margin-bottom: 7px;
  
}
.nav-sections-item-content > .navigation ul > li:nth-child(-n + 7) a{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.navigation .first{
  width: auto !important;
}
li {
  list-style-type: none;
}
.weekly_newsletter {
  margin-top: -6px;
}
@media(max-width: 1199px){
  footer .ct-socials{
    flex-wrap: wrap;
  }
}