<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="row">

    <div class="col-lg-6 col-md-12 sub-test-content" style="display:inline;">

        <div class="red_iconDive">
            <img src='<?php echo $this->getViewFileUrl('images/red_icon.jpg') ?> '>
        </div>

        <div class="newSubscriberDiv">
            <span class="new_subscriber">NEW SUBSCRIBER</span><br>
            <span class="new_discout">DISCOUNT</span>
        </div>

        <div class="weekly_newsletter">
            <span class="sub_discount1">Signup to our weekly newsletter and receive a</span><br>
            <span class="sub_disocount2">12% discount code</span>
        </div>

    </div>


    <div class="col-lg-6 newsLeter ">

        <div class="block newsletter">
            <div class="title"><strong><?= $block->escapeHtml(__('Newsletter')) ?></strong></div>
            <div class="content">
                <form class="form subscribe" novalidate action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                    method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                    id="newsletter-validate-detail">
                    <div class="field newsletter">
                        <div class="control">
                            <label for="newsletter">
                                <span class="label">
                                    <?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                                </span>
                                <input name="email" type="email" id="newsletter"
                                    placeholder="<?= $block->escapeHtml(__('Enter your mail address')) ?>"
                                    data-mage-init='{"mage/trim-input":{}}'
                                    data-validate="{required:true, 'validate-email':true}" />
                            </label>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>"
                            type="submit" aria-label="Subscribe">
                            <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "newsletter-validate-detail"
            }
        }
    }
</script>