
<div  class="" >
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse nav_bar_div">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SUPPLEMENTS<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">NEW</a></li>
              </ul>
            </li>  
  
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">BRANDS<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Tops</a>
                </li>
                <li><a href="#">Bottoms</a></li>
              </ul>
            </li>
           <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">APPAREL<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Tops</a>
                </li>
                <li><a href="#">Bottoms</a></li>
              </ul>
            </li>  
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">TRAINING EQUIPMENT<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Bags</a>
                </li>
                <li><a href="#">Fitness Equipment</a></li>widget
                <li><a href="#">Watches</a></li>
              </ul>
            </li> 
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">PROTEIN<span class="caret"></span></a>
            </li> 
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">HEALTH SUPPLEMENTS<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Video Download</a>
                </li>
              </ul>
            </li> 
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">YOUR GOAL<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">OFFERS</a>
                </li>            
              </ul>
            </li> 
            <li><a href="#">OUTLET</a></li>
            <li><a href="#">OFFERS</a></li>
            <li><a href="#">NEW!</a></li>
          </ul>
      </div>
    <div>
  </div>
  <div>
</div>
<section class="bg_red ">
      <div class="container height wrapper">
        <div class="col-lg-4 txt_color red_section_1">
          <span clas="block1">
            <img src="./market_reference.png" alt="market">
            <strong >MARKET REFERENCE </strong> </span>
           <span class="text_small block2">Quality Products, Value for Money</span>
        </div>
        <div class="col-lg-4 txt_color red_section_2">
          <img src="./free_shipping.png" alt="market">
          <strong>FREE EU SHIPPING*</strong>  <span class="text_small">On orders Above 100&euro;</span>
        </div>
        <div class="col-lg-4 txt_color red_section_3">
          <img src="./int_support.png" alt="market">
          <strong>INTERNATIONAL SUPPORT</strong> <span class="text_small">Experianced Staff,It's our Hobby </span>
      </div>
    </section>   
        

