<footer id="footer-start" class="ct-footer text-center-sm text-center-xs">
            <div class="container">
                <div class="row ct-u-paddingBottom40">
                    <div class="col-md-3 col-sm-6">
                        <div id="toggleThis" class="ct-footer-header">
                           CONTACT INFORMATION
                        </div>
                        <div id="content" style="">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 6px;">
                          <i class="fa-location-dot fa-solid fa-2xl"></i>
                        </div>

                        <div class="col-md-10">
                    <div class="contact-content" style="margin-top: 0px;">
                    <h5 style="color: white; --darkreader-inline-color:#e8e6e3;" data-darkreader-inline-color="">Approved Companies </h5>
                    <p class="grey-cl"> Rodenvazer <br> 1233 avasoft</p> 
                    </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-2">
                          <i class="fa-mobile-screen-button fa-solid fa-2xl"></i>
                        </div>

                        <div class="col-md-10" style="margin-top: 0px;">
                    <div class="contact-content">
                    <h5 style="color: white; --darkreader-inline-color:#e8e6e3;" data-darkreader-inline-color="">Phone</h5>
                    <p class="grey-cl">+45 23456756 <br>+45 434565766</p>
                    </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-2">
                          <i class="fa fa-envelope fa-solid fa-2xl"></i>
                        </div>

                        <div class="col-md-10" style="margin-top: -4px;">
                    <div class="contact-content">
                    <h5 style="color: white; --darkreader-inline-color:#e8e6e3;" data-darkreader-inline-color="">Email</h5>
                    <p class="grey-cl">cs@onlyapproved.com</p>
                    </div>
                        </div>
                    </div>

                    </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div id="userLinks" class="ct-footer-header">
                           USER LINKS
                        </div>
                        <ul id="content1" class="ct-footer-list list-unstyled">
                            <li>
                                <a href="/about-us/">About Us</a>
                            </li>
                            <li>
                                <a href="/clients/">Contact Us</a>
                            </li>
                            <li>
                                <a href="/about-us/news/">My Account</a>
                            </li>
                            <li>
                                <a href="/about-us/news/">Order History</a>
                            </li>
                            <li>
                                <a href="/about-us/news/">Login</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                     <div id="general-info" class="ct-footer-header">
                           GENERAL INFORMATION
                        </div>
                        <ul id="content2" class="ct-footer-list list-unstyled">
                            <li>
                                <a href="/about-us/">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/clients/">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="/about-us/news/">Body Buuilding Blog</a>
                            </li>
                             <li>
                                <a href="/clients/">Free Shipping</a>
                            </li>
                            <li>
                                <a href="/about-us/news/">Delivery</a>
                            </li>
                        </ul>
                    </div>
                     <div class="col-md-2 col-sm-6">
                     <div id="quikLinks" class="ct-footer-header">
                            QUICK lINKS
                        </div>
                        <ul id="content3" class="ct-footer-list list-unstyled">
                            <li>
                                <a href="/about-us/">Buy Whey Protein</a>
                            </li>
                            <li>
                                <a href="/clients/">Buy Fat Burners</a>
                            </li>
                            <li>
                                <a href="/about-us/news/">Buy Preworkout</a>
                            </li>
                            <li>
                                <a href="/clients/">Buy vitamin and mineral</a>
                            </li>
                            <li>
                                <a href="/about-us/news/">Buy BCAA</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6">
                       <div id="followUs" class="ct-footer-header">
                            Follow Us
                        </div>
                        <ul id="content4" class="ct-socials list-inline list-unstyled">
                            <li class="ct-socials--facebook">
                                <a href="https://www.facebook.com/onlyapproved" title="Facebook brand page" target="_blank"><i class="fab fa-facebook-f iconss"></i></a>
                            </li>
                            <li class="ct-socials--linkedin">
                                <a href="https://www.instagram.com/onlyapproved" title="Instagram Profile" target="_blank"><i class="fab fa-instagram iconss"></i></a>
                            </li>
                            <li class="ct-socials--twitter">
                               <a href="http://www.youtube.com/c/ApprovedCompanies" class="youtube-icon" title="YouTube Videos" target="_blank"><i class="fab fa-youtube iconss"></i></a>
                            </li>
                            <li class="ct-socials--twitter">
                             <a href="https://www.linkedin.com/company/approved-companies/about" title="Linked In Profile" target="_blank"><i class="fab fa-linkedin-in iconss"></i></a>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
            <hr style="color:white">
            <div class="container">
                <div class="row ct-u-paddingBottom40">
                    <div class="col-md-4 col-sm-6">
                    <h5 style="color: white; --darkreader-inline-color:#e8e6e3;" data-darkreader-inline-color="">Support Hours </h5>
                    <p class="grey-cl"> Mon - Fri / 9:00AM - 2:00PM</p> 
                   </div>
                   <div class="col-md-4 col-sm-6">
                    <p id="approve"> Est. 2021 Approved Companies GmbH, All Rights Reserved.<br>
                        Approved Companies</p>
                   </div>
                   <div class="col-md-4 col-sm-6" style="margin-top: -8px;">
                        <img src='<?php echo $this->getViewFileUrl('images/paypal.png') ?> '>
                   </div>
                </div>
            </div>
        </footer>