<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<div class="lastDiv" style="background-color:#191919;">
    <div name="support" class="first">
        <div class="support" style="color:white;">
            <span class="support_hours"> Support Hours</span><br>
            <span> Mon - Fri / 9:00AM - 2:00PM</span><br>
        </div>
    </div>
    <div name="estimate" class="second">
        <div class="estmated" style="color:white;">
            <span> Est. 2021 Approved Companies GmbH, All Rights Reserved.</span><br>
            <span>Approved Companies</span>
        </div>
    </div>


    <div class="third">
        <img src='<?php echo $this->getViewFileUrl('images/paypal.png') ?> '>
    </div>
</div>