.showcart .text {
    display: none;
}
.minicart-wrapper .showcart::before {
    content: "" !important;
    background: url(https://www.svgrepo.com/show/22149/shopping-bag.svg)
        no-repeat;
    width: 27px;
    height: 25px;
    padding-left: 0px !important;
    float: right;
    margin-top: 9px;
}

.minicart-wrapper .counter-label {
    display: none;
}
.minicart-wrapper .counter {
    float: right;
    margin-right: -36px;
    background-color: red;
    border-radius: 51%;
    color: white;
    width: 15px;
    padding-left: 5px;
}
